{# Post meta - lvbibir style #}
{% set created = page.date | date(format="%Y-%m-%d") %}
创建: {{ created }}

{% if page.extra.updated %}
| 更新: {{ page.extra.updated | date(format="%Y-%m-%d") }}
{% else %}
| 更新: {{ page.date | date(format="%Y-%m-%d") }}
{% endif %}

{% if config.extra.papermod.show_word_count | default(value=true) %}
| 字数: {{ page.word_count }}字
{% endif %}

| 作者: {{ page.author | default(value=config.extra.papermod.title) }}

{% if page.taxonomies.tags %}
| 标签:
{% for tag in page.taxonomies.tags %}
<a href="{{ get_taxonomy_url(kind='tags', name=tag, lang=page.lang) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
{% endfor %}
{% endif %}
