{% extends "index.html" %}
{% block main %}
<header class="page-header">
    <div class="breadcrumbs">
        <a href="{{ config.base_url }}">Home</a>&nbsp;&raquo;&nbsp;
        <a href="{{ config.base_url }}/series">系列</a>&nbsp;&raquo;&nbsp;
        <a href="{{ current_url }}">{{ term.name }}</a>
    </div>
    <h1>📚 {{ term.name }}
        <span style="font-size: 0.6em; color: var(--secondary); font-weight: normal;">({{ term.page_count | default(value=term.pages | length) }} 篇)</span>
    </h1>
</header>
{% for page in term.pages %}
<article class="post-entry">
  {% if page.extra.cover_image %}
  <div class="post-info">
  {% endif %}
  <header class="entry-header">
      <h2>{{ page.title }}</h2>
  </header>
  {% if page.summary %}
  <section class="entry-content">
      <p>{{ page.summary | striptags | truncate(length=200) }}</p>
  </section>
  {% endif %}
  <footer class="entry-footer">
      {% include "partials/post_meta.html" %}
  </footer>
  {% if page.extra.cover_image %}
  </div>
  <figure class="entry-cover">
      <img loading="lazy" src="{{ page.extra.cover_image }}" alt="{{ page.title }}">
  </figure>
  {% endif %}
  <a class="entry-link" aria-label="post link to {{ page.title }}" href="{{ page.permalink }}"></a>
</article>
{% endfor %}
{% endblock %}
