{% extends 'index.html' %}
{% block main %}
<header class="page-header">
    <div class="breadcrumbs">
        <a href="{{ config.base_url }}">🏡 主页</a>
    </div>
    <h1>{{ section.title }}
      {% for feed_filename in config.feed_filenames | default(value=["atom.xml"]) %}
      <a href="{{ get_url(path=feed_filename, trailingslash=false) | safe }}" title="RSS" aria-label="RSS">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" height="23">
          <path d="M4 11a9 9 0 0 1 9 9"></path>
          <path d="M4 4a16 16 0 0 1 16 16"></path>
          <circle cx="5" cy="19" r="1"></circle>
        </svg>
      </a>
      {% endfor %}
  </h1>
</header>
{% for page in paginator.pages %}
<article class="post-entry">
  {% if page.extra.cover_image %}
  <div class="post-info">
  {% endif %}
  <header class="entry-header">
      <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
  </header>
  {% if page.summary %}
  <section class="entry-content">
      <p>{{ page.summary | striptags | truncate(length=200) }}</p>
  </section>
  {% endif %}
  <footer class="entry-footer">
      {% include "partials/post_meta.html" %}
  </footer>
  {% if page.extra.cover_image %}
  </div>
  <figure class="entry-cover">
      <img loading="lazy" src="{{ page.extra.cover_image }}" alt="{{ page.title }}">
  </figure>
  {% endif %}
  </article>
{% endfor %}

{% if paginator %}
<footer class="page-footer">
    <nav class="pagination">
    {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous | safe }}">&laquo; Prev</a>
    {% endif %}
    {% if paginator.next %}
        <a class="next" href="{{ paginator.next | safe }}">Next &raquo;</a>
    {% endif %}
    </nav>
</footer>
{% endif %}
{% endblock %}
